.container
  .footer
    hr(style='margin: 30px 0 10px 0;')
    p &copy;&nbsp;
      a(href='http://kolbeypruitt.com') Development by Kolbey Pruitt
      |  2015

link(rel='stylesheet', href='/stylesheets/style.css')
script(src='bootstrap/js/bootstrap.min.js')

block footer