extends layout

block content
  div.container
    h2.ui-widget-header Tasks
    #tasks
      for category in allCategories
        h2
          a(href='#')= category
        div
          ul
            for task in tasks
              -if (task.category==category)
                li= task.description
  div.container
    h2.ui-widget-header Daily Plan
    #dailyPlan
      ol(type="1")
        li.placeholder Add your items here